.logo {
    height: 70px;
    width: 100px;
    border-radius: 10%;
    border-style: solid;
    border-color: white;
}

.navbar-nav .nav-link,
.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:hover,
.navbar-nav .show > .nav-link {
    color: white;
}

.navbar-brand,
.navbar-brand:focus,
.navbar-brand:hover {
    color: white;
}

/* Remove the link disappearance when clicked */
.navbar-nav .nav-link.active,
#collapsible-nav-dropdown {
    color: white !important;
}

.navbar-toggler {
    border-color: black; /* Set toggle button border color to
    white */
}

.navbar-toggler-icon {
    background-color: white; /* Set toggle button background color to white */
}

    /* Adjust the z-index of the NavBar */
    .NavBar {
        position: relative; /* Ensure position is set to relative or absolute */
        z-index: 998; /* Set a higher z-index value */
    }

.nav-link:hover {
    border-bottom: white;
    border-bottom-style: solid;
}

#register:hover {
    border-bottom: green;
    border-bottom-style: solid;
    }

    #register1:hover {
        border-bottom: grey;
        border-bottom-style: solid;
        }

/* Responsive design for mobile devices */
@media (max-width: 768px) {
    .logo {
        height: 50px;
        width: 70px;
    }

    .navbar-nav {
        text-align: center;
    }

    .navbar-nav .nav-link {
        display: block;
        padding: 10px;
    }

    .navbar-toggler {
        margin: 10px;
    }

    .navbar-brand {
        font-size: 1.2em;
    }
}

/* Responsive Design for All iPhone Devices */
@media (max-width: 430px) { /* iPhone 14 Pro Max and smaller */
    .logo {
        max-width: 70px;
    }

    .navbar-brand {
        font-size: 1.3em;
    }

    .navbar-nav .nav-link {
        padding: 9px;
    }
}

@media (max-width: 390px) { /* iPhone 13/14 and similar */
    .logo {
        max-width: 65px;
    }

    .navbar-brand {
        font-size: 1.1em;
    }

    .navbar-nav .nav-link {
        padding: 8px;
    }
}

@media (max-width: 375px) { /* iPhone SE 3rd Gen, iPhone 12 Mini */
    .logo {
        max-width: 60px;
    }

    .navbar-brand {
        font-size: 1em;
    }

    .navbar-nav .nav-link {
        padding: 7px;
    }
}

@media (max-width: 320px) { /* iPhone 5/SE 1st Gen */
    .logo {
        max-width: 50px;
    }

    .navbar-brand {
        font-size: 0.9em;
    }

    .navbar-nav .nav-link {
        padding: 6px;
    }
}